*__pycache__
*.ipynb_checkpoints
*.egg-info
*catboost_info
.vscode
.venv
testing_venv
*legacy
future_tests
temp
lightning_logs_tensorboard
logdirs
outputs
hydra_temp
rb_env
*.csv
*.parquet
*.zip


common/
data/
!src/data/
!config/data/
.claude/
.pytest_cache/
wandb/

.DS_Store

*.md
!README.md