*__pycache__
*.ipynb_checkpoints
*.egg-info
*catboost_info
.vscode
.venv
testing_venv
*legacy
future_tests
temp
lightning_logs_tensorboard
logdirs
hydra_temp
rb_env
*.csv
*.parquet
*.zip


common/
data/
!src/data/
!config/data/
outputs/*
!outputs/final_eval/
outputs/final_eval/*
!outputs/final_eval/visualizations/
!outputs/final_eval/visualizations/**
.claude/
.pytest_cache/
wandb/

.DS_Store

*.md
!README.md